@import "../common.css";

body {
    font-family: 'Inter', sans-serif;
}

section.product-list-ctn {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Filters */
.product-filter {
    padding: 2rem;
    position: sticky;
    top: 4rem;
    grid-column: 1/2;
    height: 100vh;
    overflow-y: auto;
}

.product-filter .filter-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-filter .filter-head span.filter-clear {
    /* font-size: 1.25rem; */
    text-decoration: underline;
    cursor: pointer;
}

/* range slider */
.product-filter input {
    accent-color: var(--clr-primary);
}
.filter-price .slider-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-slider {
    display: flex;
}

.filter-slider .slider {
    flex-grow: 1;
}

/* checkbox & rating*/
.input-mg-right {
    margin-right: 0.5rem;
}

label {
    cursor: pointer;
}

/* Product cards */
.products-ctn {
    background-color: var(--body-bg-color);
    grid-column: 2/3;
    padding: 3rem 4rem;
}

.products-ctn h3 small {
    font-size: 1rem;
    font-weight: normal;
}

.products-ctn .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    place-items: center;
}

.product-grid > div {
    background-color: var(--clr-white);
}

.card-title span.wishlist {
    color: #FF1B1B;
}

.card-vertical-ctn a.btn-primary-outline {
    justify-content: center;
    margin: 0.625rem;
}

/* filter cta */
button.filter-cta {
    border: none;
    cursor: pointer;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    box-shadow: var(--light-shadow);
    display: none;
}

/* Media queries */
@media screen and (max-width: 1200px) {
    .product-filter {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--clr-white);
        z-index: 1;
        transition: var(--transition);
        transform: translate(-100%);
    }

    .product-filter.show {
        transform: translate(0);
    }

    section.product-list-ctn {
        display: block;
    }

    .products-ctn {
        padding: 1rem;
    }

    button.filter-cta {
        display: block;
    }
}
