@import "../common.css";

body {
    font-family: 'Inter', sans-serif;
}

section.product-list-ctn {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Filters */
.product-filter {
    padding: 2rem;
}

.product-filter .filter-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-filter .filter-head span.filter-clear {
    /* font-size: 1.25rem; */
    text-decoration: underline;
    cursor: pointer;
}

/* range slider */
.product-filter input {
    accent-color: var(--clr-primary);
}
.filter-price .slider-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-slider {
    display: flex;
}

.filter-slider .slider {
    flex-grow: 1;
}

/* checkbox & rating*/
.input-mg-right {
    margin-right: 0.5rem;
}

label {
    cursor: pointer;
}

/* Product cards */
.products-ctn {
    background-color: var(--body-bg-color);
}

.products-ctn {
    padding: 3rem 4rem;
}

.products-ctn h3 small {
    font-size: 1rem;
    font-weight: normal;
}

.products-ctn .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.product-grid > div {
    background-color: var(--clr-white);
}

.card-title span.wishlist {
    color: #FF1B1B;
}

.card-vertical-ctn a.btn-primary-outline {
    justify-content: center;
    margin: 0.625rem;
}
